.row {
  display: flex;
}

.transaction {
  outline-width: thin;
  outline-style: solid;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 200px;
  width: 150px;
  margin-top: 10px;
}

.transaction-left {
  width: fit-content;
}
.transaction-right {
  text-align: right;
  width: 100%;
}

.right-align {
  text-align: right;
  width: 100%;
}

.button-row {
  width: 100%;
  height: 25px;
  display: flex;
}

.buttons {
  width: 100%;
  height: 100%;
}
